[Unit]
Description=Waybar Media Player Script

[Service]
ExecStart=%h/.config/waybar/mediaplayer/mediaplayer
Restart=on-failure

[Install]
WantedBy=default.target
